/* For HTML colors see - http://html-color-codes.info */

.yellow-background {
     background-color:#F4FA58; 
}

.red-background {
     background-color:#FF0000; 
}

.light-blue-background {
     background-color:#CEF6F5; 
}

#modal-close-button {
     background-color:#CEF6F5; /* Light blue */
}

.modal-content {
    overflow:hidden;
}

.badge-colour {
	background-color:#F78181; /* Light red */
}

/** This makes the tool tip appear in one long line and not wrap around **/
.tooltip-inner {
    max-width: none;
    white-space: nowrap;
    text-align: left;
}